body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    color: #333;
    background-image: url('assets/background-image.jpg'); /* Replace 'path/to/your/background-image.jpg' with the actual path to your image */
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2em;
}

.purchase-button {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.purchase-button:hover {
    background-color: #555;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    background-color: #f9f9f9;
}

th {
    background-color: #4caf50;
    color: white;
}

img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#table td:nth-child(4),
#table td:nth-child(5) {
    display: flex;
    justify-content: center;
}

#table td:nth-child(6) {
    font-weight: bold;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}
